sa.json
debug.test
www/public
*debug
dicelang/cli/cli
coverage.out
*k8s-dice-magic.json
*certbot-dns.json
config.log
*build.log
www/www
out/
out/*
config/minikube/secrets/*
config/development/secrets/*
/chat-clients/cli/cli
chat-clients-digest.log
dice-server-digest.log
letsencrypt-digest.log
redis-digest.log
www-digest.log
cover.out
sample-new-json.json
coverage-report.txt
test-results.txt
