    [req]
    prompt = no
    distinguished_name = req_distinguished_name
    req_extensions = v3_req

    [req_distinguished_name]
    countryName = US
    stateOrProvinceName = Washington
    localityName = Seattle
    commonName = *.default.svc.cluster.local

    [ v3_req ]
    # Extensions to add to a certificate request
    basicConstraints = CA:FALSE
    keyUsage = nonRepudiation, digitalSignature, keyEncipherment
    subjectAltName = @alt_names

    [alt_names]
    DNS.1 = mock-kms.default.svc.cluster.local
    DNS.2 = mock-slack-server.default.svc.cluster.local