    [req]
    prompt = no
    distinguished_name = req_distinguished_name
    req_extensions = v3_req

    [req_distinguished_name]
    countryName = US
    stateOrProvinceName = Washington
    localityName = Seattle
    commonName = *.local.dicemagic.io

    [ v3_req ]
    # Extensions to add to a certificate request
    basicConstraints = CA:FALSE
    keyUsage = nonRepudiation, digitalSignature, keyEncipherment
    subjectAltName = @alt_names

    [alt_names]
    DNS.1 = api.local.dicemagic.io
    DNS.2 = www.local.dicemagic.io
    DNS.3 = grpc.local.dicemagic.io
    DNS.4 = local.dicemagic.io